# Ignore all image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg

# Ignore all CSV files
*.csv

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore virtual environment directories
venv/
env/
env.bak/

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore backup and temporary files
*.bak
*.tmp
*.temp
*.orig
